.footer{
    width: 100%;
}

.footer li a{
    background-color: #63645d;
    margin-bottom: 2px;
    padding: 10px 0;
    text-align: center;
}

.footer li a{
    color: #FFFFFF;
    text-transform: uppercase;
}